<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Reset password</h1>
    <form th:action="@{${user_change_password_link}}" method="put">
        <div>
            <label for="newPassword">New password</label>
            <input type="password" name="email" id="newPassword">
        </div>
        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="email" id="confirmPassword">
        </div>
        <div>
            <button type="submit">Send</button>
        </div>
    </form>
</body>
</html>